---

---

<footer class="flex align-end">
  <div>
    Bychkov Maxim 2023 (C) This website is under MIT license
  </div>
</footer>

<style>
    div {
        width: 100%;
        border-top: 1px solid #757575;
        padding: 8px;
        color: #757575;
    }
</style>
